.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*.pem
*.key

# Kubernetes Secrets
k8s/secret.yaml
k8s/local/secret-local.yaml
kubectl

# Local backup / generated ingress
*.bak
k8s/ingress.yaml
